body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.general-background {
  background-color: #ffffff;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}
.site-navigation {
  list-style:none;
  padding: 0;
}
.site-navigation a {
  color: #000000;
 text-decoration: none;   /*Оставлю обнуление, без него страшно, вдруг все сломается как-нибудь */
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
 }
.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
 }
.site-navigation a.current {
  color: #766357;
}
.site-navigation a.current:hover,
.site-navigation a.current:focus {
  color: #766357;
   }
.site-navigation a.current:active {
  color: #766357;
  opacity: 1;
 }
 .promo {
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   /* background-position: -56px; */
 }
 .promo-catalog {
   background-image: url(../img/catalog.jpg);
   background-repeat: no-repeat;
   /* background-position: -56px; */
   background-color: #303a3c;
   color: #ffffff;
 }
 .container .visually {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
 }
 .container .visually,
 .container .visually-features {
   text-align: center;
 }

.features h2 {
  color: #333333 ;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.item-recommendations {
  background-color: #ffffff;
}
.features-list,
.features-item-recommendations {
  list-style: none;
}
.features-item,
.item-recommendations {
  text-align: center;
}
.features-item h3,
.item-recommendations h4 {
  font-size: 21px;
}
.features-item p,
.item-recommendations p {
  font-size: 14px;
  line-height: 21px;
  color: #333333 ;
  font-weight: 400;
}
.search {
  text-align: center;
  background-color: #ffffff;

}
.booking h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.booking .booking-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color:#333333;
  text-align: center;
}
.button-search {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  width: 568px;
  height: 86px;

  background-color: #766357;
}
.booking .button-search:hover,
.booking .button-search:focus {
  background-color: #604e43;
}
.booking .button-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.booking .departure,
.booking .arrival {
  font-size: 14px;
}
input.input-field {
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  width: 346px;
  height: 38px;
  text-transform: uppercase;

}
input.input-field:hover,
input.input-field:focus {
  background-color: #ebebeb;
  border: none;
}
input.input-field:focus {
  background-color: #ffffff;


}
.appointment-item .input-field::placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 1;
}

}
input.days {
  width: 114px; /*тут будут иконки и размеры изменю */
  height: 38px;
}
.button-blue {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 17px 20px 22px 20px;
  border: none;
  text-transform: uppercase;
  width: 458px;
}
.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}
.button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
}
.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.filter .filter-button {
  font: inherit;
  color: #ffffff;
  padding: 6px 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid #ffffff;

}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color :#000000;
  background-color: #ffffff;
  border: none;
}
.sorting-results-left p {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.sorting-results-center li {
  font-size:12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
.sorting-results-active a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}
.sorting-results-active a:hover,
.sorting-results-active a:focus {
  color: #81b3d2;
}
.sorting-results-active a:active {
  color: #000000;
  border-bottom: 1px dashed transparent;
}
.sorting-results-active .element-active {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}
.sorting-results-active .element-active:hover,
.sorting-results-active .element-active:focus {
  color: #81b3d2;
}
.sorting-results-active .element-active:active {
  color: #81b3d2;
}
.catalog li{
  list-style: none;
}
.catalog .item-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}
.catalog .item-name:hover,
.catalog .item-name:focus {
  color: #81b3d2;
}
.catalog .item-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog .price-type {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.detail {
  line-height: 21px;
  padding: 4px 17px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
.detail:hover,
.detail:focus {
  background-color: #669ec0;
}
.detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button {
  padding: 4px 17px;
  line-height: 21px;
  background-color: #766357;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background-color: #604e43;
}
.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 110px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;

}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  color:#000000;
  font-weight: 700;
  border: none;
  text-align: center;


}
.footer-social ul {
  list-style: none;
  text-align: center;
}

.social-button {
  color: #81b3d2;
  text-decoration: none;
}

.social-button:hover,
.social-button:focus {
  color: #669ec0;
}

.social-button:active {
  color: #5496bd;
}
.footer-copyright {
  text-align: center;
  background-color: #ffffff;
}
.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}
.footer-copyright a {
  color: #000000;
  text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}



 /* СЕТКА header */

 .general-background {
  display: block;
  max-width: 1200px;
  width: 100%;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto;

}
.main-header {
  /* margin-bottom: 56px; */
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header-logo {
  width: 138px;
  height: 72px;
  order: 0;
  position: absolute;
  z-index: 2;

}
.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 1200px;

}
.left-column {
  width: 20%;
  padding-top:14px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 6%;
  box-sizing: border-box;
}
.indent {
  margin-right: 20%;
}
.right-column {
  width: 20%;
  padding-top: 14px;
  padding-bottom: 15px;
  text-align: right;
  padding-right: 6%;
  box-sizing: border-box;
}





/* СЕТКА промо */
.promo {
  position: relative;
  padding-top: 77px;
  height: 433px;
  background-size: cover;
}
.promo::after {
  content:'';
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 59px;
  background-image: url(../img/mask.png);
  background-repeat: no-repeat;
  background-size: 100% 59px;
}
.promo img {
  display: block;
  margin: 0 auto;
  padding-bottom: 144px;
}



/* СЕТКА причина */
.cause {
  padding-top: 59px;
  padding-bottom: 50px;
  width: 600px;
  margin: 0 auto;
}
.cause .visually,
.cause .visually-features {
  margin: 0;
}
.cause .visually {
  margin-bottom: 29px;
}

/* Сетка преимущества с крупными блоками */
.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.features-item {

}
.features-item-container {
  display: flex;
}
.features-item-text-container {
  background-color: #81b3d2;
  color: #ffffff;
}
.features-item-text-container h3,
.features-item-text-container p  {
  margin: 0;
}
.features-item-text-container h3 {
  padding-top:45px;
  padding-bottom: 23px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.features-item-text-container p {
  padding-bottom: 23px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}
.features-item-text-container p:last-child {
  padding-bottom: 0px;
}
.features-item:nth-child(2) .features-item-text-container {
  order:2;
}
.features-item:nth-child(2) .features-item-img-container {
  order:1
}

.features-item-img-container {
  align-items: center;
  justify-content: center;
  height: 256px;
  overflow: hidden;
}


/* Сетка преимущества с h4 */
.features-item-recommendations {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
  list-style: none;

}
.features-item-recommendations li {
  flex-grow: 1;
  width: 33%;
  margin-top: 158px;
  padding-bottom: 84px;
}
.item-recommendations h4,
.item-recommendations p {
  margin: 0;
}
.item-recommendations h4 {
  padding-bottom: 22px;
  position: relative;
}
.item-recommendations p {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Последняя сетка преимуществ */
.last-features {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
  list-style: none;
  width: 100%;
  background-color: #eeeeee;
}
.last-features li {
  flex-grow: 1;
  width: 33%;
}
.last-features h3,
.last-features p  {
  margin: 0;
}
.last-features h3 {
  margin-top:44px;
  padding-bottom: 22px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.last-features p {
  padding-bottom: 23px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.last-features p:last-child {
  padding-bottom: 56px;
}
.features-item:last-child p:nth-child(3) {
  width: 62%;
}

/* Сетка бронирования */
.search {
  width: 568px;
  margin: 0 auto;
  padding: 0;
}
.search h2,
.search p {
  margin-bottom: 0;
}
.search h2 {
  margin-top: 46px;
  padding-bottom: 27px;
}
.search p {
  margin-top: 0px;
  padding-bottom: 48px;
  /* padding-bottom: 29px; */
}

/* Сетка для формы поиска */
.map {
  position: relative;
  background-color: green;
  background-image: url(../img/map.png);
  height: 473px;
  background-position: center 0;
  background-size: cover;
  position: relative;

}
.search-form {
  width: 458px;
  height: 287px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 55px;
  background-color: #ffffff;

}
.appointment-form button{
  margin-right: auto;
  margin-left: auto;
}
.appointment-item {
  display: flex;
  align-items: center;
  position: relative;
}
.search-form p {
  margin-top: 0;
  margin-bottom: 29px;
}
.appointment-item label {
  margin-right: auto;
}
.arrival {
  padding-right: 21px;
}
.departure {
  padding-right: 17px;
}
}
.search-form input:nth-child(1),
.search-form input:nth-child(2) {
  width: 346px;
  height: 38px;
  padding-top: 0;
  padding-bottom:0;
}
.search-form input:nth-child(3),
.search-form input:nth-child(4) {
  width: 114px;
  width: 38px;
  padding-top:0;
  padding-bottom:0;
  text-align: center;
}
.line-input {
  display: flex;
  justify-content: space-between;

}
.adulta-line-input label {
  padding-right: 41px;
}

.children-line-input label{
  padding-right: 27px;
}
/*Год спустя делаю иконки */
.features-item-recommendations h4:first-child::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}
.features-item-recommendations h4:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}
.features-item-recommendations h4:last-child::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}
















.btn-minus-icon,
.btn-plus-icon {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0px;;
  margin: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}
.btn-minus-icon::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: red;
}
.btn-plus-icon::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: red;
}


/* Сетка подвала */




/* Сетка для фильтров к каталогу */
.filter {
  display: flex;
  justify-content: flex-start;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 30px;
  padding-top: 26px;
}
.list-option li:first-child,
.list-option li:nth-child(2) {
  padding-bottom: 27px;
}

.filter fieldset:first-child {
  width: 265px;
}
.filter fieldset:nth-child(2) {
  width: 485px;
}

.list-option {
  padding-left: 0px;
  margin: 0;
}
.filter fieldset:last-child {
  ;
}
.name-search {
  padding-bottom: 24px;
}





/* Сетка для сортировки */
.sorting {
  display:flex;
  align-items: baseline;
  margin: 0;
  padding: 29px 6%;
  border-bottom: 1px solid #e5e5e5;
}
.sorting p {
  margin: 0;
  margin-right: 50px;
}


.sorting-results-center {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-content: stretch;
}
.sorting-results-center li:first-child {
  padding-right: 40px;
}
.sorting-results-center li:nth-child(2),
.sorting-results-center li:nth-child(3) {
  padding-right: 33px;
}
.sorting-results-center li:last-child {
  margin-right: 505px;
}


/*  Сетка для каталога*/
.catalog-list {
  padding:0;
  margin:0;
  padding: 29px 6%;

}
.catalog-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center ;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.catalog-list .catalog-item:nth-child(2),
.catalog-list .catalog-item:nth-child(3) {
  padding-top: 30px;

}
.catalog-item .catalog-item-image {
  padding-top: ;
  margin-right: 30px;
}
.catalog-item .catalog-item-info {
  margin-right: 500px;
}
.catalog-item-info h3 {
  margin-top: 0;
  margin-bottom: 6px;
}
.price-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.price-type p {
  width: 120px;
  margin: 0;
  margin-bottom: 15px;
}
.detail {
  margin-right: 6px;
}
