body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.general-background {
  background-color: #ffffff;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}
.site-navigation {
  list-style:none;
  padding: 0;
}
.site-navigation a {
  color: #000000;
 text-decoration: none;   /*Оставлю обнуление, без него страшно, вдруг все сломается как-нибудь */
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
 }
.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
 }
.site-navigation a.current {
  color: #766357;
}
.site-navigation a.current:hover,
.site-navigation a.current:focus {
  color: #766357;
   }
.site-navigation a.current:active {
  color: #766357;
  opacity: 1;
 }
 .promo {
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   /* background-position: -56px; */
 }
 .promo-catalog {
   background-image: url(../img/catalog.jpg);
   background-repeat: no-repeat;
   /* background-position: -56px; */
   background-color: #303a3c;
   color: #ffffff;
 }
 .container .visually {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
 }
 .container .visually,
 .container .visually-features {
   text-align: center;
 }

.features h2 {
  color: #333333 ;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.item-recommendations {
  background-color: #ffffff;
}
.features-list,
.features-item-recommendations {
  list-style: none;
}
.features-item,
.item-recommendations {
  text-align: center;
}
.features-item h3,
.item-recommendations h4 {
  font-size: 21px;
}
.features-item p,
.item-recommendations p {
  font-size: 14px;
  line-height: 21px;
  color: #333333 ;
  font-weight: 400;
}
.search {
  text-align: center;
  background-color: #ffffff;

}
.booking h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.booking .booking-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color:#333333;
  text-align: center;
}
.button-search {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  width: 568px;
  height: 86px;

  background-color: #766357;
}
.booking .button-search:hover,
.booking .button-search:focus {
  background-color: #604e43;
}
.booking .button-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.booking .departure,
.booking .arrival {
  font-size: 14px;
}
.input-field {
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  width: 295px;
  height: 36px;
  text-transform: uppercase;

}
.input-field:hover,
.input-field:focus {
  background-color: #ebebeb;
  border: none;
}
.input-field:focus {
  background-color: #ffffff;


}
.appointment-item .input-field::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 1;
}
.appointment-item .input-field:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 1;
}
.appointment-item .input-field::-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 1;
}
.appointment-item .input-field::placeholder {
  color: #000000;
  font-weight: 700;
  opacity: 1;
}

input.days {
  width: 114px; /*тут будут иконки и размеры изменю */
  height: 38px;
}
.button-blue {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 196px 17px;
  border: none;
  text-transform: uppercase;
  width: 458px;
}
.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}
.button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter legend {
  font-size: 16px;
  line-height: 21px;
}
.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.filter .filter-button {
  font: inherit;
  color: #ffffff;
  padding: 6px 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid #ffffff;

}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color :#000000;
  background-color: #ffffff;
  border: none;
}
.sorting-results-left p {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.sorting-results-center li {
  font-size:12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
.sorting-results-active a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}
.sorting-results-active a:hover,
.sorting-results-active a:focus {
  color: #81b3d2;
}
.sorting-results-active a:active {
  color: #000000;
  border-bottom: 1px dashed transparent;
}
.sorting-results-active .element-active {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}
.sorting-results-active .element-active:hover,
.sorting-results-active .element-active:focus {
  color: #81b3d2;
}
.sorting-results-active .element-active:active {
  color: #81b3d2;
}
.catalog li{
  list-style: none;
}
.catalog .item-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}
.catalog .item-name:hover,
.catalog .item-name:focus {
  color: #81b3d2;
}
.catalog .item-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog .price-type {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.detail {
  line-height: 21px;
  padding: 4px 17px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
.detail:hover,
.detail:focus {
  background-color: #669ec0;
}
.detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button {
  padding: 4px 17px;
  line-height: 21px;
  background-color: #766357;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background-color: #604e43;
}
.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 110px;

}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  color:#000000;
  font-weight: 700;
  border: none;
  text-align: center;


}
.footer-social ul {
  list-style: none;
  text-align: center;
}

.social-button {
  color: #81b3d2;
  text-decoration: none;
}

.social-button:hover,
.social-button:focus {
  color: #669ec0;
}

.social-button:active {
  color: #5496bd;
}
.footer-copyright {
  text-align: center;
}
.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}
.footer-copyright a {
  color: #000000;
  text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}



 /* СЕТКА header */

 .general-background {
  display: block;
  width: 1200px;
  /* max-width: 1200px;
  width: 100%;
  min-width: 768px; */
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px -5px 12px rgba(0, 1, 1, 0.2);
          box-shadow: 0px -5px 12px rgba(0, 1, 1, 0.2);

}
.main-header {
  /* margin-bottom: 56px; */
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header-logo {
  width: 138px;
  height: 72px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  position: absolute;
  z-index: 2;

}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 1200px;

}
.left-column {
  width: 20%;
  padding-top:14px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.indent {
  margin-right: 20%;
}
.right-column {
  width: 20%;
  padding-top: 14px;
  padding-bottom: 15px;
  text-align: right;
  padding-right: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}





/* СЕТКА промо */
.promo {
  position: relative;
  padding-top: 77px;
  height: 433px;
  background-size: cover;
}
.promo::after {
  content:'';
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 58px;
  background-image: url(../img/mask.svg);
  background-repeat: no-repeat;
  background-size: 100% 58px;
}
.promo img {
  display: block;
  margin: 0 auto;
  padding-bottom: 144px;
}



/* СЕТКА причина */
.cause {
  padding-top: 59px;
  padding-bottom: 50px;
  width: 600px;
  margin: 0 auto;
}
.cause .visually,
.cause .visually-features {
  margin: 0;
}
.cause .visually {
  margin-bottom: 29px;
}

/* Сетка преимущества с крупными блоками */
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.features-item {
  width: 100%;
}
.features-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-item-text-container {
  background-color: #81b3d2;
  color: #ffffff;
  width: 33.33%
}
.features-item-text-container h3,
.features-item-text-container p  {
  margin: 0;
}
.features-item-text-container h3 {
  padding-top:45px;
  padding-bottom: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 21px;
}
.features-item-text-container p {
  padding-bottom: 20px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}
.features-item-text-container .special-width  {
  width: 77%;
}
.features-item-text-container p:last-child {
  padding-bottom: 0px;
}
.features-item:nth-child(2) .features-item-text-container {
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}
.features-item:nth-child(2) .features-item-img-container {
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1
}

.features-item-img-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 256px;
  overflow: hidden;
  width: 66.666%;
}
.features-item-img-container img {
  margin-top: -72px;
}

/* Сетка преимущества с h4 */
.features-item-recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin:0;
  list-style: none;

}
.features-item-recommendations li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33%;
  margin-top: 158px;
  padding-bottom: 84px;
}
.item-recommendations h4,
.item-recommendations p {
  margin: 0;
}
.item-recommendations h4 {
  padding-bottom: 22px;
  position: relative;
}
.item-recommendations p {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Последняя сетка преимуществ */
.last-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin:0;
  list-style: none;
  width: 100%;
  background-color: #eeeeee;
}
.last-features  {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33.33%;
}
.last-features h3,
.last-features p  {
  margin: 0;
}
.last-features h3 {
  margin-top: 44px;
  padding-bottom: 22px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.last-features p {
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.last-features p:last-child {
  padding-bottom: 59px;
}

/* Сетка бронирования */
.search {
  width: 568px;
  margin: 0 auto;
  padding: 0;
}
.search h2,
.search p {
  margin-bottom: 0;
}
.search h2 {
  margin-top: 48px;
  padding-bottom: 24px;
}
.search p {
  margin-top: 0px;
  padding-bottom: 47px;
}

/* Сетка для формы поиска */
.map {
  position: relative;
  background-color: green;
  background-image: url(../img/map.png);
  height: 593px;
  background-position: center 0;
  background-size: cover;
  position: relative;
}

.search-form {
  width: 458px;
  min-height: 287px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 55px;
  background-color: #ffffff;

}
.appointment-form button{
  margin-right: auto;
  margin-left: auto;
}
.appointment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.search-form p {
  margin-top: 0;
  margin-bottom: 29px;
}
.appointment-item label {
  margin-right: auto;
}
.arrival {
  /* padding-right: 21px; */
}
.departure {
  /* padding-right: 17px; */
}
.appointment-item .travel,
.appointment-item .travel {
  height: 38px;
  padding-top: 0;
  padding-bottom:0;
  padding-left: 13px;
}
.search-form input:nth-child(3),
.search-form input:nth-child(4) {
  height: 38px;
  width: 38px;
  padding-top:0;
  padding-bottom:0;
  text-align: center;
}
.line-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.adulta-line-input label {
  padding-right: 41px;
}

.children-line-input label{
  padding-right: 27px;
}
.adulta-line-input p,
.children-line-input p {
  margin-bottom: 57px;
}

/*Cетка подвала  */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(254,254,254,.9);
  padding-top: 36px;
  padding-bottom: 36px;
}
.over-map {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}
.footer-hashtag {
  width: 33.33%;
}
.footer-social {
  width: 33.33%;
}
.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  padding: 0px;
  margin: 0 auto;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  opacity: 0.3;
}

.footer-copyright p {
  font-weight: 400;
  margin: 0;
  padding-right: 8px;
}
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.html-academy {
  display: block;
  width: 115px;
  height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
  fill: #81b3d2;
}
.html-academy:active path {
  fill: #bdbbbc;
}




/*Год спустя делаю иконки */
.home-element::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}
.food-element::before {
  content: '';
  position: absolute;
  width: 74px;
  height: 70px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}
.souvenir-element::before {
  content: '';
  position: absolute;
  width: 64px;
  height: 76px;
  bottom: 75px;
  left: 41%;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

button.icon-calendar {
  margin: 0;
  padding: 0;
}
.icon-calendar {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}
.icon-calendar:hover path,
.icon-calendar:focus path {
  fill: #000000;
}
.icon-calendar:active path {
  fill:#81b3d2;
}



.btn-minus-icon,
.btn-plus-icon {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0px;;
  margin: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}
.btn-minus-icon::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  background-image: url(../img/grey-minus.png);
  bottom: 17px;
  left: 13px;
}
.btn-minus-icon:hover::before,
.btn-minus-icon:focus::before {
  background-image: url(../img/black-minus.png);
}
.btn-minus-icon:active::before {
  background-image: url(../img/blue-minus.png);
}

.btn-plus-icon::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url(../img/grey-plus.png);
  bottom: 13px;
  left: 14px;
}
.btn-plus-icon:hover::before,
.btn-plus-icon:focus::before {
  background-image: url(../img/black-plus.png);
}
.btn-plus-icon:active::before {
  background-image: url(../img/blue-plus.png);
}
.sorting-results-right {
  width: 36px;
}
.arrow-icon-up {
 margin-right: 10px;
}
.arrow-icon-up:hover path,
.arrow-icon-up:focus path {
  fill: #000000;
}
.arrow-icon-up:active path{
  fill: #81b3d2;
}
.arrow-icon-down:hover path,
.arrow-icon-down:focus path {
  fill: #000000;
}
.arrow-icon-down:active path{
  fill: #81b3d2;
}






/* Сетка для фильтров к каталогу */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 30px;
  padding-top: 26px;
}
.filter-checkboxes li:first-child,
.filter-checkboxes li:nth-child(2) {
  padding-bottom: 27px;
}

.filter fieldset:first-child {
  width: 204px;
  margin-right: 50px;
}
.filter fieldset:nth-child(2) {
  width: 485px;
}

.filter-checkboxes {
  padding-left: 0px;
  margin: 0;
}
.name-search {
  padding-bottom: 24px;
}
.filter-range {
  margin-right: 0;
  margin-left: auto;
}
 /*Красивые чекбоксы  */
 .visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-disabled-off.png");
}

.filter-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-disabled-on.png");
}

.filter-checkbox:focus + label::before {
  outline: 1px dashed #ffffff;
  outline-offset: 2px;
}

/*Сложный фильтр  */
.filter-range {
  width: 315px;
  margin-left: auto;
  margin-right: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;
  font-weight: 400;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  min-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 59px;
  padding-top: 6px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 95px;
  padding: 5px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/* Сетка для сортировки */
.sorting {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding: 29px 6%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}
.sorting p {
  margin: 0;
  margin-right: 50px;
}


.sorting-results-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.sorting-results-center li:first-child {
  padding-right: 40px;
}
.sorting-results-center li:nth-child(2),
.sorting-results-center li:nth-child(3) {
  padding-right: 30px;
}
.sorting-results-center li:last-child {
  margin-right: 504px;
}


/*  Сетка для каталога*/
.catalog-list {
  padding: 0;
  margin: 0;

}
.catalog li {
  list-style: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start ;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.catalog-item .catalog-item-image {
  margin-right: 30px;
  margin-top: 5px;
}
.catalog-item-image a {
  width: 0px;
  height: 0px;
  line-height: 0;
}
.catalog-item-image img {
  vertical-align:middle;
}

.catalog-item .catalog-item-info {
  margin-right: auto;
}
.catalog-item-info h3 {
  margin: 0 0 7px;
  padding: 0;
}
.price-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.price-type p {
  width: 120px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: -4px;
}
.detail {
  margin-right: 2px;

}
.rating {
  text-align: right;
}
.rating p:last-child {
  margin: 0;
  margin-top: 41px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.star {
  display: inline-block;
  background-image: url(../img/star.svg);
  background-repeat: space;
  width: 89px;
  height: 18px;
  background-color: #ffffff;
  margin: 0;
  margin-top: 3px;
}
.star.three {
  width: 60px;
}
.star.two {
  width: 40px;
}
